
<div fxLayout="row" style="justify-content: center;">
    <div fxFlex="60" fxFlex.lt-sm="90" style="text-align: center;">
        <h1>Book with an agent that cares for you.</h1>
        <app-greeting-display></app-greeting-display>
        <!-- <ng-template appPlaceholder></ng-template> -->
    </div>
</div>
<div fxLayout="row" style="justify-content: center;">
    <div fxFlex="60" fxFlex.lt-sm="90" style="text-align: center;">
        <h1>Lots of destinations</h1>
        <app-destination-display></app-destination-display>
        <!-- <ng-template appPlaceholder></ng-template> -->
    </div>
</div>
<div fxLayout="row" style="justify-content: center;">
    <div fxFlex="60" fxFlex.lt-sm="90">
        <app-map-display></app-map-display>
    </div>
</div>
