<app-header (sideNavToggleTarget)="sidenav.toggle()" ></app-header>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" [fixedTopGap]="smallLayout ? 56 : 64" fxHide fxShow.xs fxShow.sm>
        <mat-nav-list *ngIf="smallLayout">
            <a mat-list-item [routerLink]="['/about']" routerLinkActive="active" (click)="sidenav.toggle()"><span>About</span><span class="spacer"></span><mat-icon>emoji_people</mat-icon></a>
            <a mat-list-item [routerLink]="['/explore']" routerLinkActive="active" (click)="sidenav.toggle()"><span>Explore</span><span class="spacer"></span><mat-icon>public</mat-icon></a>
            <a mat-list-item [routerLink]="['/contact']" routerLinkActive="active" (click)="sidenav.toggle()"><span>Contact</span><span class="spacer"></span><mat-icon>textsms</mat-icon></a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>


