<mat-card style="background-image: url('https://cdn.pixabay.com/photo/2014/08/12/00/01/oia-416135_960_720.jpg'); background-size: cover; height: 50vh; margin-top: 1rem; margin-bottom: 1rem;" fxLayout="row" fxLayoutAlign="start center">
    <div>
        <h1 style="color: white;">Explore just some of your travel options</h1>
        <a mat-button [routerLink]="['/explore']"><span style="color: white;">View destinations around the world.</span><mat-icon style="margin-top: -4px; color:white;">forward</mat-icon></a>
    </div>

    <!-- <img mat-card-image src="https://cdn.pixabay.com/photo/2014/08/12/00/01/oia-416135_960_720.jpg"> -->

</mat-card>