<mat-card>
    <mat-grid-list [cols]="smallLayout ?  1 : 2" rowHeight="2:1">
        <mat-grid-tile [rowspan]="2"><img mat-card-image src="https://lh3.googleusercontent.com/ZKEepMWqc5rELdd9GmsbEIsw9N_l-wYdbT0ewxWBR6bfjLxrlgF3zWgusHBmHo6mNr_m4R8I9qA6fxX95HyTiOhjLI4SVVeGSSEsiOXnVH3a7js-Zol6V69HH2yiGhnypgJmNCM1"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="https://lh3.googleusercontent.com/NMOz7Mi5ASr7DjY7oBN7I8dd21qiAkfTsZsWdnR4-oZg6QFfwMskeMBP6uRIqGD1fDbAGY-60rD9JCUAVcM2iTwuq9muqBkOfAHCprUGCzgey4KFgoy6UOsLxJ-zJhpDdsKfHsQ2"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="https://lh3.googleusercontent.com/m6TFsAhBksB5Gf2gYUv8yuLu1GUYPaRE2AqgVw6fApwMdkia28S2M2f4bz4wq6z0vlyHFYvGkiz3braMxeQvMA_UrW2ROcrdaInhIi7zYBj8FWwsalq2GRAiA1JgqMLb-rBIeYkL"></mat-grid-tile>
      </mat-grid-list>
    <div fxLayout="row" fxLayout.lt-md="column">
        <h1 fxFlex="30" style="padding-right: 8px; margin-bottom: 0px;">It's nice to meet you.</h1>
        <p fxFlex="70">I am an avid travel lover and have had the pleasure of exploring over 15 countries to date with many more on my bucket list.  
            I have also been in the business of providing excellent customer service to hundreds of clients for over 20 years.  
            Therefore it only made sense to marry my love for travel with my expertise in client relationships to become a Travel Agent with Dream Vacations. 
        </p>
    </div>
</mat-card>